body {
  font-family: sans-serif;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

*::-webkit-scrollbar {
  background-color: #00000000;
}
*::-webkit-scrollbar-thumb {
  background-color: #ff000040;
  border: 1px solid #ffffff40;
  border-radius: 24px;
}
*::-webkit-scrollbar-thumb {
  background-color: #00000000;
  border: 5px solid transparent;
  border-radius: 24px;
  box-shadow: 4px 0 0 4px #00000038 inset;
}
.offcanvas-body::-webkit-scrollbar-thumb {
  box-shadow: 4px 0 0 4px #00000020 inset;
}
*::-webkit-scrollbar-thumb:hover {
  box-shadow: 4px 0 0 4px #00000070 inset;
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  position: relative;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  background: #00000080;
  border-radius: 100%;
  box-shadow: inset 0 0 2px 1px #000000a0;
}

input[type="range"]::-moz-range-thumb {
  width: 1.25em;
  height: 1.25em;
  background: #00000080;
  border-radius: 100%;
  box-shadow: inset 0 0 2px 1px #000000a0;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.25em;
  padding: 0.125em;
  border-radius: 2em;
  box-shadow: inset 0 0 2px 1px #00000080;
  background: #00000030;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 1.5em;
  padding: 0.125em;
  border-radius: 2em;
  box-shadow: inset 0 0 2px 1px #00000080;
  background: #00000030;
}

#fps {
  font-family: monospace;
  position: fixed;
  top: 0;
  left: 0;
  background: #00000088;
  color: white;
}
#fpsTxt {
  font-weight: bold;
}
#fpsTxt.faded {
  font-weight: normal;
  opacity: 0.4;
}

.rangeGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rangeGroup > .rangeTags {
  width: 100%;
  display: flex;
  justify-content: space-between;

  font-size: 0.875em;
  opacity: 0.75;
}
.rangeLabel {
  opacity: 0.85;
}

.rangeTxt {
  display: none;
}

.btn2 {
  border-radius: 0.375rem;
  background-color: #fff;
  padding: 0.375rem;
  color: #000;
  border: 1px solid #000;
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
}
.btn2:hover {
  opacity: 0.9;
}

#canvasCont {
  width: 100vw;
  height: 100vh;
}

#controlsCont {
  position: fixed;
  bottom: 0;
  padding-bottom: 5px;

  width: 100%;
  display: flex;
  justify-content: center;
}
#controlsCont button {
  width: 25%;
  max-width: 200px;
  padding: 0.375rem 0;
}

#sideMenu {
  background-color: rgba(255, 255, 255, 0.65);
  width: 265px;
  display: flex;
  flex-direction: column;
}

#title {
  text-align: right;
  line-height: 1;
}

#sideMenu input[type="range"] {
  width: 100%;
}

#sideMenuButton {
  left: unset;
  padding-right: 0.5rem;
  transition: opacity 0.25s ease-in-out;
}

.btn-group-group > .btn-group:not(:first-child) {
  margin-top: -1px;
}

.btn-custom {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.btn-color-bl {
  background-color: #141414e6;
}
.btn-color-st {
  background-color: #6b6b6be6;
}
.btn-color-si {
  background-color: #979693e6;
}
.btn-color-go {
  background-color: #998a5ce6;
}
.btn-color-rg {
  background-color: #996b5ce6;
}

.btn-color-co {
  background: linear-gradient(217deg, #ff0040f2, #f000 70.71%), linear-gradient(167deg, #80ff00f2, #0f00 70.71%),
    linear-gradient(336deg, #0000fff2, #00f0 70.71%);
}

.btn-color-cla {
  background: linear-gradient(
    98deg,
    #007338 16%,
    #d9e0e6 20% 32%,
    #99001a 36% 48%,
    #00338c 52% 64%,
    #e6e626 68% 80%,
    #b34d00 84%
  );
}
.btn-color-bri {
  background: linear-gradient(
    98deg,
    #73bf26 16%,
    #d9d9d9 20% 32%,
    #cf6394 36% 48%,
    #3d9ecf 52% 64%,
    #f2e633 68% 80%,
    #e66b1a 84%
  );
}
.btn-color-neu {
  background: linear-gradient(
    98deg,
    #08aa29 16%,
    #e0e0e0 20% 32%,
    #e02444 36% 48%,
    #0d6fba 52% 64%,
    #eded45 68% 80%,
    #e5751f 84%
  );
}
.btn-color-pas {
  background: linear-gradient(
    98deg,
    #97e2bf 16%,
    #f8eee6 20% 32%,
    #eb9e99 36% 48%,
    #8dc9e2 52% 64%,
    #f5e68c 68% 80%,
    #f5b374 84%
  );
}

.colorInputs6 {
  display: block;
}
.colorInputs6 > * {
  display: flex;
  justify-content: space-between;
}
.colorInputs6 > * > * {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-color {
  display: block;
  margin: auto;
  height: 24px;
  border-radius: 5px;
  box-shadow: inset 0 0 4px 1px #fff;
}
.btn-check:checked + .btn .btn-color {
  box-shadow: inset 0 0 4px 1px #6c757d;
}

#sideMenuButton > button {
  padding: 0.1872rem 0.3125rem;
}

.offcanvas-header {
  padding-bottom: 0.5rem;
}
.offcanvas-body {
  padding: 0.5rem 0 0;
}
.offcanvas-body > div {
  width: 232px;
  margin-left: 1rem;
}
.offcanvas-body .btn-group {
  width: 100%;
}
.offcanvas-body .btn-group > .btn {
  width: 50%;
}

#menuAccordion .accordion-button {
  padding: 0 0.5rem;
  height: 3rem;
}

#menuAccordion .accordion-body {
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  background-color: #ffffff40;
}

#menuAccordion .accordion-item {
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  background-color: transparent;
}
.accordion-item .accordion-button {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}
.accordion-item .accordion-button.collapsed {
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.offcanvas-body .btn-outline-secondary {
  background-color: #ffffff;
}

#accBody-presets .accordion-body {
  padding: 0;
}
#accBody-presets .dropdown-item {
  padding: 0 1rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#presetsSelect {
  position: unset;
  background-color: #ffffff40;
  border: none;
  max-height: calc(100vh - 12rem);
  overflow-y: auto;
}
#presetChoice {
  font-weight: 600;
}

.trash-btn {
  display: inline-flex;
  line-height: normal;
  padding: 0.25rem;
}

.trash-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath d='M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.btn-check + #addStickersLabel .check-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb%28108, 117, 125%29'%3e%3cpath d='M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.btn-check:checked + #addStickersLabel .check-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb%28255, 255, 255%29'%3e%3cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z'/%3e%3c/svg%3e");
}

#addStickersLabel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#glCanvas {
  touch-action: none;
}

.hidden {
  display: none !important;
}

.transp {
  opacity: 0;
}
