body {
  font-family: sans-serif;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

#canvasCont {
  width: 100vw;
  height: 100vh;
}

#controlsCont {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
}
#controlsCont button {
  font-size: large;
  padding: 4px 12px;
}

#glCanvas {
  touch-action: none;
}

.hidden {
  display: none;
}
